## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hobart,AU,-42.8794,147.3294,67.86,75,75,8.05,broken clouds
1,1,Ponta Do Sol,PT,32.6667,-17.1000,60.71,61,88,13.53,overcast clouds
2,2,Port Alfred,ZA,-33.5906,26.8910,66.18,89,50,1.01,scattered clouds
3,3,Jurmala,LV,56.9680,23.7704,28.42,93,0,8.05,clear sky
4,4,Rincon,US,32.2960,-81.2354,65.86,42,0,0.00,clear sky

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Uribia,CO,11.7139,-72.2660,79.92,74,85,13.71,overcast clouds
10,10,Atuona,PF,-9.8000,-139.0333,79.88,74,13,21.14,few clouds
22,22,Rikitea,PF,-23.1203,-134.9692,77.76,64,100,9.66,overcast clouds
26,26,La Belgica,BO,-17.5500,-63.2167,75.49,78,28,10.36,scattered clouds
28,28,Adrar,MR,20.5022,-10.0711,70.72,15,0,10.40,clear sky
35,35,Cabo San Lucas,MX,22.8909,-109.9124,71.51,68,0,14.97,clear sky
39,39,Avarua,CK,-21.2078,-159.7750,73.45,88,75,5.75,light rain
47,47,Gamboma,CG,-1.8764,15.8644,74.10,90,100,1.50,overcast clouds
48,48,Tangwani,PK,28.2787,68.9972,79.83,6,8,3.94,clear sky
57,57,Vaini,TO,-21.2000,-175.2000,78.96,89,75,6.91,broken clouds

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                151
City                   151
Country                151
Lat                    151
Lng                    151
Max Temp               151
Humidity               151
Cloudiness             151
Wind Speed             151
Current Description    151
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Uribia,CO,11.7139,-72.2660,79.92,74,85,13.71,overcast clouds
10,10,Atuona,PF,-9.8000,-139.0333,79.88,74,13,21.14,few clouds
22,22,Rikitea,PF,-23.1203,-134.9692,77.76,64,100,9.66,overcast clouds
26,26,La Belgica,BO,-17.5500,-63.2167,75.49,78,28,10.36,scattered clouds
28,28,Adrar,MR,20.5022,-10.0711,70.72,15,0,10.40,clear sky
...,...,...,...,...,...,...,...,...,...,...
645,645,Korhogo,CI,9.4500,-5.6333,79.18,64,53,4.76,broken clouds
647,647,Harper,LR,4.3750,-7.7169,79.74,85,100,9.71,overcast clouds
648,648,Kiama,AU,-34.6833,150.8667,78.58,51,95,10.00,overcast clouds
663,663,Sinnamary,GF,5.3833,-52.9500,77.29,89,100,11.16,light rain
675,675,Carutapera,BR,-1.1950,-46.0200,76.51,93,100,6.08,overcast clouds

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Uribia,CO,79.92,overcast clouds,11.7139,-72.2660,
10,Atuona,PF,79.88,few clouds,-9.8000,-139.0333,
22,Rikitea,PF,77.76,overcast clouds,-23.1203,-134.9692,
26,La Belgica,BO,75.49,scattered clouds,-17.5500,-63.2167,
28,Adrar,MR,70.72,clear sky,20.5022,-10.0711,
35,Cabo San Lucas,MX,71.51,clear sky,22.8909,-109.9124,
39,Avarua,CK,73.45,light rain,-21.2078,-159.7750,
47,Gamboma,CG,74.10,overcast clouds,-1.8764,15.8644,
48,Tangwani,PK,79.83,clear sky,28.2787,68.9972,
57,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except(IndexError):
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [20]:
# Check to make sure the hotel df is populated
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Uribia,CO,79.92,overcast clouds,11.7139,-72.2660,Hotel Uribia
10,Atuona,PF,79.88,few clouds,-9.8000,-139.0333,Villa Enata
22,Rikitea,PF,77.76,overcast clouds,-23.1203,-134.9692,People ThankYou
26,La Belgica,BO,75.49,scattered clouds,-17.5500,-63.2167,Colpa Caranda Eco Resort
28,Adrar,MR,70.72,clear sky,20.5022,-10.0711,
35,Cabo San Lucas,MX,71.51,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
39,Avarua,CK,73.45,light rain,-21.2078,-159.7750,Paradise Inn
47,Gamboma,CG,74.10,overcast clouds,-1.8764,15.8644,Residence N'Keni
48,Tangwani,PK,79.83,clear sky,28.2787,68.9972,Malik Hafeez Markeet
57,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort

In [21]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Uribia,CO,79.92,overcast clouds,11.7139,-72.2660,Hotel Uribia
10,Atuona,PF,79.88,few clouds,-9.8000,-139.0333,Villa Enata
22,Rikitea,PF,77.76,overcast clouds,-23.1203,-134.9692,People ThankYou
26,La Belgica,BO,75.49,scattered clouds,-17.5500,-63.2167,Colpa Caranda Eco Resort
28,Adrar,MR,70.72,clear sky,20.5022,-10.0711,
...,...,...,...,...,...,...,...
645,Korhogo,CI,79.18,broken clouds,9.4500,-5.6333,Hôtel Tchinbota
647,Harper,LR,79.74,overcast clouds,4.3750,-7.7169,Screensaver
648,Kiama,AU,78.58,overcast clouds,-34.6833,150.8667,The Sebel Kiama Harbourside
663,Sinnamary,GF,77.29,light rain,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
675,Carutapera,BR,76.51,overcast clouds,-1.1950,-46.0200,Lidera

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))